################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlexSTLDev.github.io/FileContentIndex
/.vs
